<!DOCTYPE html>
<html ng-app="profileEdit">
    <head>
        <title>Edit in Place</title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
        <script type="text/javascript" src="main.js"></script>
        <link rel="stylesheet" href="style.css" type="text/css" />
    </head>
    <body ng-controller="mainController as main">
        <img class="left" src="https://placehold.it/100x100">
        <div class="labels left">
            <label>Name:</label>
            <label>Age:</label>
            <label>Occupation:</label>
        </div>
        <div class="inputs left">
            <p class="tbox"></p>
            <input class="ng-hide" type="text" name="name">
            <p class="tbox"></p>
            <input class="ng-hide" type="text" name="age">
            <p class="tbox" ng-click="main.editInfo()"></p>
            <input ng-hide="main.hidden" type="text" name="occ">
        </div>
        <div class="tArea">
            <label>Short Bio:</label>
            <button type="button" ng-click="editInfo()">Click</button>
            <p>
                
            </p>
            <textarea class="ng-hide" ng-click="editInfo()" rows="4" cols="50"></textarea>
        </div>
    </body>
</html>