h3 {
    display: inline;
}

span {
    display: block;
}

input {
    display: block;
}

input, textarea {
    font-family: 'Indie Flower', cursive;
}

img {
    float: left;
    margin-right: 15px;
}

p, textarea {
    margin: 15px 0;
    padding: 0;
    
}
