/* ADD YOUR STYLES HERE */

.center {
    padding-left: 104px;
}

.pad {
    padding-left: 15px;
    padding-right: 15px;
}

.line {
    display: inline-block;
}

.vtop {
    vertical-align: text-top;
}

.vcent {
    /*position: relative;
    top: 50%;
    transform: translateY(-50%); */
    padding-top: 123px;
}

.mid {
    height: 300px;
}

.hlist {
    list-style-type: none;
    padding: 0;
}

.hlist li {
    display: inline;
}

.button1, .button2, .button3, input {
    background-color: #E88389;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
}

.button2, input {
    
    border: none;
    padding: 10px 45px 10px 45px;
}

.button1 {
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 160%;
}

.button3 {
   padding: 5px;
   border-radius: 5px;
   font-size: 75%;
}

nav {
    background-color: #E88389;
    width: 88%;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

nav li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 35px 10px 35px;
    transition: all 1s;
}

nav li a:hover {
    background-color: white;
    color: #E88389;
    opacity: 0.5;
}

.pagination {
    width: 75%;
    padding-left: 0;
}

.pagination a {
    color: #E88389;
    text-decoration: none;
}

#sel {
    border-bottom: solid 3px gray;
}

.pagination li {
    display: inline-block;
    padding-right: 13px;
    padding-left: 13px;
    padding-bottom: 5px;
    border-bottom: solid 3px #E88389;
}

span {
    color: gray;
}

.pagination li:first-child, .pagination li:last-child {
    border: none;
}


.left {
    float: left;
}

.noOverFlow {
    overflow: hidden;
}

.clrleft {
    clear: left;
}

time {
    font-size: 75%;
    color: gray;
}

.gravatar {
    padding: 0px 5px 5px 0px;
}

.toolong {
    white-space: nowrap;
    overflow: hidden;
    max-width: 235px;
}

.tabList {
    padding: 0;
}

.tabs {
    position: relative;
    top: 1px;
    display: inline-block;
    border-left: solid 1px gray;
    border-top: solid 1px gray;
    border-right: solid 1px gray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    margin: 0px 5px 0px 5px;
}

.active {
    border-bottom: solid 1px white;
}

.tabs a {
    text-decoration: none;
    font-weight: bold;
}

.bordered {
    border: solid 1px gray;
    border-radius: 5px;
    padding: 5px;
}

